body {
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    background-color: lightgrey;
  }
  
  a{
    text-decoration: none;
    color: #001f3f;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.home{
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 1024px){
    .home{
        width: 90%;
    }
}

@media only screen and (max-width: 512px){
    .home{
        width: 100%;
    }
}